In [1]:
from ingestion import IngestorFactory

c:\Uni\Master\Semester_2\EDML\Project\fairfluence\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# Set the link
link = "https://huggingface.co/datasets/marianeft/diabetes_prediction_dataset"
#link = "https://huggingface.co/datasets/scikit-learn/credit-card-clients"
#link = "https://huggingface.co/datasets/ucberkeley-dlab/measuring-hate-speech"
#link = "https://huggingface.co/datasets/Supa-AI/Reasoning_Patterns_AI_Hiring_Bias_SEA"
#link = "https://www.kaggle.com/datasets/uciml/adult-census-income" # doesn't work for the time being
#link = "https://huggingface.co/datasets/scikit-learn/adult-census-income"


#link = "https://www.openml.org/search?type=data&sort=runs&status=active&id=37"

In [ ]:
ingestor_factory = IngestorFactory(link, 0, True)
ingestor = ingestor_factory.create()
dataframe = ingestor.load_data()
dataframe

Creating CSV from Arrow format: 100%|██████████| 100/100 [00:00<00:00, 558.45ba/s]

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0